.date-range-outer-container {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
.date-range-outer-container .blue .DayPicker-Day--hovered-range-start {
	background-color: #dbedff;
	border-radius: 3px;
}
.date-range-outer-container .blue .DayPicker-Day--hovered-range-end {
	background-color: #dbedff;
}
.date-range-outer-container .blue .DayPicker-Day--selected {
	background-color: #0676ed;
	border-radius: 4px;
}
.date-range-outer-container .blue .DayPicker-Day--selected:hover {
	background-color: #0676ed;
}
.date-range-outer-container .blue .DayPicker-Day--selected:focus {
	outline: none;
}
.date-range-outer-container .blue .DayPicker-Day--selected-range {
	background-color: #dbedff;
	margin-bottom: 5px;
}
.date-range-outer-container .blue .DayPicker-Day--hovered-range {
	background-color: #dbedff !important;
}
.date-range-outer-container .date-range-inner-container {
	position: absolute;
	width: 850px;
	min-height: 290px;
	margin-top: 50px;
	padding: 0px;
	background-color: '#f2f2f2';
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.date-range-outer-container .date-range-inner-container .bp3-divider {
	margin: 0px;
}
.date-range-outer-container
	.date-range-inner-container
	.bp3-daterangepicker-shortcuts {
	min-width: 145px;
	padding-top: 65px;
	border-top-left-radius: 10px !important;
	color: #212129;

	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	background: #fafafa;
}
.date-range-outer-container
	.date-range-inner-container
	.bp3-daterangepicker-shortcuts:focus {
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.bp3-daterangepicker-shortcuts
	.bp3-menu-item {
	padding: 10px 30px;

	color: #212129;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
}
.date-range-outer-container
	.date-range-inner-container
	.bp3-daterangepicker-shortcuts
	.bp3-menu-item:hover {
	outline: none;
	background-color: #dbedff;
}
.date-range-outer-container
	.date-range-inner-container
	.bp3-daterangepicker-shortcuts
	.bp3-menu-item.bp3-active {
	background-color: #fafafa;
	color: #0676ed;
}
.date-range-outer-container .date-range-inner-container .DayPicker {
	min-width: 348px;
	padding: 10px 25px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-NavButton--prev {
	margin-top: 50px;
	margin-left: 15px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-NavButton--next {
	margin-top: 50px;
	margin-right: 15px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption {
	margin: 15px 25px;
	justify-content: center;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	select {
	border: none;
	border-color: #fff;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	select:hover {
	background: none;
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	select:focus {
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	select:active {
	background: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	option {
	overflow-y: scroll;
	overflow-x: hidden;
	background: none;
	border: none;

	font-size: 12px;
	color: #212129;
	line-height: 18px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	option:hover {
	background: none;
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	option:focus {
	outline: none;
	background-color: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	option:active {
	background: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	select.bp3-active:hover {
	background-color: #ccc;
	border: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	option.bp3-active {
	background-color: #ccc;
	border: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-month-select {
	width: 110px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 67, 132, 0.04),
		0 2px 4px 0 rgba(0, 67, 132, 0.16);
	margin-right: 25px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-month-select
	.bp3-minimal
	select {
	background: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-month-select
	.bp3-minimal
	select:hover {
	background: none;
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-month-select
	.bp3-minimal
	select:focus {
	outline: none;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-year-select {
	border-radius: 4px;
	width: 82px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 67, 132, 0.04),
		0 2px 4px 0 rgba(0, 67, 132, 0.16);
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-year-select
	option {
	overflow-y: scroll;
	overflow-x: hidden;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-year-select
	option::-webkit-scrollbar {
	width: 5px;
	background-color: #fff r;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-datepicker-year-select
	option::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-icon-double-caret-vertical {
	content: none;
	background: no-repeat;
	top: 10px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	.bp3-icon-double-caret-vertical
	svg {
	content: none;
	background: no-repeat;
	visibility: hidden;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.bp3-datepicker-caption
	:first-child {
	flex-grow: 0.5;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-Months {
	height: 200px;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-Months
	.DayPicker-Month {
	width: 100%;
	height: 100%;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-Months
	.DayPicker-Month
	.bp3-icon-double-caret-vertical {
	right: 5px !important;
}
.date-range-outer-container
	.date-range-inner-container
	.DayPicker
	.DayPicker-Months
	.DayPicker-Month
	.bp3-divider {
	display: none;
}
.date-range-outer-container .date-picker-buttons {
	width: 850px;
	display: flex;
	flex-direction: row;
	background-color: #dbedff;
	justify-content: space-between;
	height: 50px;
	margin-top: 340px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.date-range-outer-container .date-picker-buttons .button-divider {
	width: 146px;
	background-color: #fafafa;
	border-right: 1px solid rgba(16, 22, 26, 0.15);
	border-bottom-left-radius: 10px;
}
.date-range-outer-container .date-picker-buttons .date-buttons {
	display: flex;
	flex-direction: row;
	padding: 15px;
}
.date-range-outer-container
	.date-picker-buttons
	.date-buttons
	.date-picker-cancel {
	cursor: pointer;
	color: #212129;
	font-size: 14px;
	padding-right: 50px;
	letter-spacing: 1px;
	line-height: 18px;
}
.date-range-outer-container
	.date-picker-buttons
	.date-buttons
	.date-picker-select {
	cursor: pointer;
	color: #212129;

	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 20px;
	line-height: 18px;
}
.date-range-outer-container
	.date-picker-buttons
	.date-buttons
	.date-picker-select
	.date-select {
	padding-left: 10px;
	color: black;
	cursor: default;
}
.date-range-outer-container .date-picker-buttons .date-buttons .disabled {
	color: #5c7080 99;
	cursor: not-allowed;
}
.date-range-outer-container i {
	position: absolute;
	right: 217px;
	top: 39px;
	margin-left: -12px;
	width: 40px;
	height: 25px;
}
.date-range-outer-container i::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	left: 50%;
	transform: rotate(45deg);
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03);
}
.date-range-picker-component-container {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-end; */
	margin-right: 10px;
	margin-bottom: 10px;
}
.date-range-picker-component-container .calender-icons {
	cursor: pointer;
	display: flex;
	width: 16px !important;
	height: 16px !important;
	align-items: center;
}
.date-range-picker-component-container .pop {
	z-index: 2;
	width: 30px;
	height: 30px;
	background: #dbedff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.date-range-picker-component-container .dates {
	width: 190px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
